<div class="articulo bg-white">
    <div class="container mt-2 pt-3">
        {{#each articulos_array}}
            <div class="row p-5  m-auto">
                <div class="col-lg-5 col-md-4 col-12 ml-auto">
                    <img src="/images/{{imagen}}" style="width:100%; height : auto;">
                </div>
                <div class="col-lg-5 col-md-8 col-12 d-flex mr-auto flex-column align-items-start border-left pl-4">
                    <h4>{{nombre}}</h4>
                    <p>$ {{precio}}</p>
                    <br>
                    <span class="">{{descripcion}}</span>
                    <br>
                    <div class="link mt-auto">

                    <a href="/store" class="align-items-end btn btn-block-md btn-color1">Volver</a>
                    <a href="/store/{{categorias}}" class="align-items-end btn btn-block-md btn-color1">Ver más {{categorias}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>