  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h5 class="text-center">Editar articulo</h5>
            <form action="/admin/editar" method="post">
            {{!-- <input type="text" value="{{idURL}}"> --}}
            {{#each noticia_array}}
            <input type="hidden" value="{{id_n}}" name="id_n">
            <small class="text-primary">Escrita el : {{fecha_creacion}}</small>

                <div class="form-group">
                    <label for="titulo">Titulo de la noticia</label>
                    <input type="text" class="form-control" 
                    value="{{titulo}}" name="titulo" id="titulo">

                </div>

                <div class="form-group">
                    <label class="text-info">Autor : {{nombre}} {{apellido}}</label>
                    {{!-- 
                    tarea : poder elegir nuevamente un autor 
                    --}}
                </div>
                <div class="form-group">
                    <textarea class="form-control"  name="texto">{{texto}}</textarea>
                </div>
                {{!-- mostrar imagen --}}
                {{!-- <div class="form-group">
                    <input type="file" name="imagen">
                </div> --}}
            {{/each}}
                <button type="submit" class="btn btn-primary btn-block">Editar</button>
            </form>
        </div>
    </div>
</div>