<div class="store bg-white">
    <div class="container mt-2">
        <div class="row bg-white mb-5 " style="height: auto;">
            <div class="pr-5 col-10 mt-5 mr-auto ml-auto">
                <h5 class="blacktext text-left border-bottom pb-3 pl-4">Categorías </h5>
                <a href="/store/remeras">
                <span class="pl-2 m-3 linkicon">Remeras</span>
                </a>
                <a href="/store/buzos">
                <span class="m-3 linkicon">Buzos</span>
                </a>
                <a href="/store/shorts">
                <span class="m-3 linkicon">Shorts</span>
                </a>
                <a href="/store/vestidos">
                <span class="m-3 linkicon">Vestidos</span>
                </a>
                <a href="/store/ropainterior">
                <span class="m-3 linkicon">Ropa Interior</span>
                </a>
                <a href="/store/accesorios">
                <span class="m-3 linkicon">Accesorios</span>
                </a>
                <a href="/store/abrigos">
                <span class="m-3 linkicon">Abrigos</span>
                </a>
                <a href="/store/shoes">
                <span class="m-3 linkicon">Shoes</span>
                </a>
            </div>
            <div class="col-11 pt-3 mt-3 mb-5 pl-5 mr-auto ml-auto">
                <div class="row">
                    {{#each articulos}}
                    <div class="col-2 mr-4 ml-4">
                        <div class="card" style="width: 13rem;">
                        <a href="/store/{{id_a}}">
                            <img src="/images/{{imagen}}" class="card-img-top" style="size:10rem;">
                        </a>
                            <div class="card-body">
                                <span class="card-title blacktext">${{precio}}</span>
                                <br>
                                <h5 class="blacktext">{{nombre}}</h5>
                                <small class="d-none"> {{categorias}}</small>
                                <small class="mediatext"> {{descripcion}}</small>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>